@model tp4.Models.Movie

<h2>Ajouter un Film</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="GenreId">Genre</label>
        <input asp-for="GenreId" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Ajouter</button>
</form>

<a asp-action="Index" class="btn btn-secondary mt-2">Retour</a>
